<a href="https://colab.research.google.com/github/Chao-Meng/Python-import-excelData/blob/main/GoodBelly_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path='/content/GoodBelly-DataSet.xlsx'
df=pd.read_excel(path,sheet_name='Real Data')
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [ ]:
#Q1 - Give summary of numeric type of columns in dataset?
summary = df.describe()
print(summary)

               Explanation of GoodBelly Sales Spreadsheet  \
count                                                  11
unique                                                 11
top     The data came from 126 Whole Foods stores over...
freq                                                    1

                                               Unnamed: 1
count                                                   9
unique                                                  9
top     Weekly Sales (Volume): The number of units sol...
freq                                                    1

In [ ]:
#Q2 Calc STD of columns in dataset
# print(df.dtypes)
std_devs = df.std()
print(std_devs)

Date                    22 days 03:27:15.853934319
Units Sold                              110.998731
Average Retail Price                      0.463828
Sales Rep                                 0.497695
Endcap                                    0.191843
Demo                                      0.234661
Demo1-3                                   0.363522
Demo4-5                                   0.264705
Natural                                   0.975092
Fitness                                   1.592789
dtype: object

<ipython-input-32-e928f3e21261>:6: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  std_devs = df.std()

In [ ]:
#Q3 mean of first 50 records in dataset
mean_first_50 = df.iloc[:50].mean(numeric_only=True)
print(mean_first_50)

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64

In [ ]:
#Q4 What are thecolumn names
column_names = df.columns
print("Column names:", column_names)

Column names: Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [ ]:
#Q - Number of elements in dataset
total_elements = df.size
print("Total number of elements in the dataset:", total_elements)

Total number of elements in the dataset: 16632

In [ ]:
#Q- No. of records this dataset has
num_records = df.shape[0]
print("Number of records:", num_records)

Number of records: 1386

In [ ]:
#Q type of column dataset has
column_types = df.dtypes
print("Column types:\n", column_types)

Column types:
 Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object